.page {
    background: red;
    max-height: 100%;
    max-width: 100%;
}

.navbar {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

