.page {
    background: red;
    max-width: 85%;
    text-align: center;
    margin: auto;
}

.navbar {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 10px 0px;
    margin: 25px 0;
}

.container {
    background-color: white;
    //margin: auto;
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}

