<div class="page">
  <div class="now-playing">
    <div class="album-art"> Album Art </div>
    <div class="song-info"> 
      1 Last Cigarette
    </div>
  </div>
  <div>
    <div class="container" cdkScrollable>
      <div cdkDropList class="queue-list" (cdkDropListDropped)="drop($event)">
        <div class="song-request" *ngFor="let song of songs" cdkDrag [cdkDragStartDelay]="500">
          <div class="queue-order">{{song.queueOrder}}</div>
          <div class="song-name">{{song.songName}}</div>
          <div class="song-artist">{{song.songArtist}}</div>
        </div>
      </div>
    </div>
    <div class="add-song">
      <button> Add Song </button>
    </div>
  </div>
</div>
 