<div class="error-page">
    <div class="error-page-container">
        <p>Uh oh! Looks like you got to the wrong place</p>
        <button routerLink = '' class="back-to-home-button" id="button">Back to home page</button>
    </div>
</div>