.queue-page {
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
  }
  
  .now-playing {
    color: var(--white);
    background-color: var(--primary);
    font-size: 35px;
    margin: 15px auto 10px;
    width: 90%; 
    display: flex;
    flex-direction: column;
    background-color: #002f8b;
    border-radius: 15px;
    padding: 15px 0;

    .now-playing-text {
      font-weight: bold;
      font-size: 30px;
      align-self: self-start;
      margin-left: 20px;
      line-height: normal;
    }

    .now-playing-song {
      display: flex;
      align-self: center;
      margin: 10px 20px;
      column-gap: 15px;
    }

    .now-playing-song-info {
      align-self: center;
      min-width: 174px;
    }

    .song-art {
      width: 120px;
      height: 120px;
      align-self: center;
    }
    img[src=""] {
      display: none;
    }

    .song-info-title {
      font-size: 25px;
      display: -webkit-box;
      max-width: 400px;
      max-height: 75px;
      margin: 0 auto;
      font-size: 26px;
      line-height: 1.4;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .song-info-artist {
      font-size: 15px;
    }
  }  

  
  .add-song {
    position: sticky;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #0c0032;
  }
  
  .container {
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 600px;
  }
  
  .queue-list {
    width: 100%;
    display: block;
    background: var(--secondary);
  }
    
  .song-request {
    padding: 15px 10px;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background: var(--secondary);
    font-size: 14px;
    margin: 0 5px;
    .queue-order {
      display: block;
      width: 10%; 
    }
    .song-item {
      display: flex;
      width: 300px;
    }
    .song-info {
      display: flex;
      flex-direction: column;
      width: max-content;
      justify-content: center;
      margin-left: 15px;
      max-width: 200px;
    }
    .song-art {
      width: 80px;
      height: 80px;
    }
     .song-name {
      font-size: 20px;
      text-align: left;
      display: -webkit-box;
      min-width: 200px;
      max-height: 75px;
      margin: 0 auto;
      line-height: 1.4;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
     }
  
     .song-artist {
      font-size: 15px;
      text-align: left;
      display: -webkit-box;
      min-width: 200px;
      max-height: 75px;
      margin: 0 auto;
      line-height: 1.4;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
     }
     
  }
  .progress-bar{
    width: 309px;
    margin: 10px auto;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
.host-name {
  width: 100%;
  height: 50px;
  background-color: #06185f;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 50px;
  font-family: din-round,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
}