<div class="queue-page">
    <div class="host-name">
      <img src="/assets/back-arrow-white.png" routerLink = '' class="back-button">
      <div>Current host: {{hostName}}</div>
    </div>
    <div class="now-playing">
      <span class="now-playing-text">Now Playing:</span>
      <div class="now-playing-song">
        <img src="{{hostCurrAlbumArt$ | async }}" class="song-art">    
        <div class="now-playing-song-info">
          <div class="song-info-title"> {{ hostCurrSong$ | async }}</div>
          <div class="song-info-artist">{{ hostCurrArtist$ | async }}</div>
        </div>
      </div>
      <div class="progress-bar">
        <mat-progress-bar mode="determinate" value="{{hostCurrPlayPosition$ | async}}"></mat-progress-bar>
      </div>
    </div>
    <div class="container" cdkScrollable>
      <div class="queue-list" >
        <div class="song-request" *ngFor="let song of queue$ | async" >
          <div class="queue-order"></div>
          <div class="song-item">
            <img src={{song.songArt}} class="song-art">
            <div class="song-info">
              <div class="song-name">{{song.songName}}</div>
              <div class="song-artist">{{song.songArtist}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-song">
      <button pButton type="button" id="button" label="Add Song" class="button-add-song" routerLink="/addSong">Add Song</button>
    </div>
  </div>