<div class="add-song-page">
    <div class="add-song-container">
        <h1 class="search-text">Search for music</h1>
        <div class="add-song-header">
            <img src="/assets/back-arrow-white.png" routerLink = '/queue' class="back-button">
            <input class="search-bar" type="text"  placeholder="Search" [formControl]="search">         
        </div>
        <table class="song-search-table">
            <tr *ngFor="let song of songs$ | async" (click)="selectSong(song)" >
                <div class="song-request">
                    <img src={{song.songArt}} class="song-art">
                    <div class="song-info">
                    <div class="song-name">{{song.songName}}</div>
                    <div class="song-artist">{{song.songArtist}}</div>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</div>