
.add-song-page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.table-row {
    width:100%;
    height: 10px; 
}

.add-song-container {
    margin: 20px 15px;
}

.add-song-header {
    display: flex;
    margin-left: 15px;
}

.back-button {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.search-text {
    margin-left: 15px;
}

.search-bar {
    height: 30px;
    width: 80%;
    margin: 0 15px 0 5px;
}

.song-search-table {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.song-request {
    padding: 15px 10px;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background: var(--secondary);
    font-size: 14px;
    margin: 0 5px;
    .song-info {
      display: flex;
      flex-direction: column;
      width: max-content;
      justify-content: center;
      margin-left: 15px;
      max-width: 220px;
    }
    .song-art {
      width: 80px;
      height: 80px;
    }
    .song-name {
        font-size: 20px;
        text-align: left;
        display: -webkit-box;
        min-width: 220px;
        max-height: 75px;
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
       .song-artist {
        font-size: 15px;
        text-align: left;
        display: -webkit-box;
        min-width: 220px;
        max-height: 75px;
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
       }

    :active {
        opacity: 0.5;
        transition: 0.1s;
    }

    :active::after {
        opacity: 1;
    }
  }