<div class="user-selection-page">
    <div class="user-selection-container">
        <img src="/assets/playlign-logo-white.png" class="app-logo">
        <div class="user-select-buttons">
            <button (click) = 'onLoginClick()' class="user-select-button" id="button">Login as Host</button>
            <button routerLink = '/queue' class="user-select-button" id="button">Join as Guest</button>
        </div>
    </div>
</div>
