.user-selection-page {
    width: 100%;
    height: 100%;
    position: absolute;
}
.user-selection-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.app-logo {
    width: 250px;
}
.user-select-buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
  }