
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontEnd-primary: mat.define-palette(mat.$indigo-palette);
$FrontEnd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FrontEnd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FrontEnd-theme: mat.define-light-theme((
  color: (
    primary: $FrontEnd-primary,
    accent: $FrontEnd-accent,
    warn: $FrontEnd-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FrontEnd-theme);

// Custom Font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Poppins", sans-serif;');
@include mat.core($custom-typography);

/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #0c0032;
    --txt-color: #f5f5f5;
    --button-color: #002f8b;
    --button-shadow-color: #2061b1;
}



body{
    margin: 0; 
    padding: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

#button {
    appearance: button;
    background-color: var(--button-shadow-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: var(--txt-color);
    width: 200px;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-top: 10px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#button:after {
    background-clip: padding-box;
    background-color: var(--button-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#button:main,
.button-19:focus {
    user-select: auto;
}

#button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#button:disabled {
    cursor: auto;
}

mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #7d5dd5;
  }